#Temporary files
*.asv
*~

#output
bin/*
doc/m2html/*
doc/doxygen/*
output/*
output/runAnalysisTests/*
output/runCoverageTests/*
output/runLargeTests/*
output/runMediumTests/*
output/runMediumDNATests/*
output/runMediumProteinTests/*
output/runSimulation/*
output/runSimulationTests/*
output/runSmallTests/*
tmp/*